.info-produto{
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    width: 23vw;
    height: 100vh;
    background: #FFF;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 5vh;
    border-radius:  20px 0 0 20px;
}
 .info-produto img{
     width: 20vw;
     height: auto;
 }

 .info-produto h1, p{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-produto button{
    background-color:#FFD459;
    padding: 10px 45px 10px 45px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 40px;
    transition: ease-in 0.2s;;
}
.info-produto button:hover{
    transform: scale(1.1);
}

