@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');
/*CSS RESET*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
} 

body{
  font: 16px 'Roboto', sans-serif ;
  background-color: #E5E5E5;
}

a, ul, li, ol{
  text-decoration: none;
}

button{
  border: none;
  cursor: pointer;
}

